{:deps  {re-frame/re-frame {:mvn/version "1.2.0"}
         cljs-http/cljs-http {:mvn/version "0.1.46"}
         cheshire/cheshire {:mvn/version "5.10.2"}
         org.clojure/spec.alpha {:mvn/version "0.3.218"}
         org.clojure/tools.logging {:mvn/version "1.2.4"}}
 :paths ["src" "aleph/src"]}
